# addendum from .gitignore-cmd-dtrace-test-tst-common
/head/rpcsvc/nfs_prot.c
# addendum from .gitignore-cmd-file
/common/elfcap/elfcap.po
# addendum from .gitignore-cmd-stmfadm
/common/cmdparse/cmdparse.po
# addendum from .gitignore-tools-sgs-ld
/cmd/sgs/messages/i386/ld
# addendum from .gitignore-tools-sgs-libelf
/cmd/sgs/messages/i386/libelf
# addendum from .gitignore-tools-sgs-libld
/cmd/sgs/messages/i386/libld
# addendum from .gitignore-tools-sgs-liblddbg
/cmd/sgs/messages/i386/liblddbg
