# .gitignore for illumos checkouts.
# Note: this does not try to ignore all files in a fully built workspace.
# Rather, you are expected to "make clobber" before running "git status".
cscope.files
cscope.out
ncscope.out
cscope.in.out
cscope.po.out
.make.state*
/closed/
/illumos.sh
/log
/nightly.sh
/packages
/proto
/webrev
/usr/src/**/*.class
/usr/src/**/*.debug32.diff
/usr/src/**/*.debug64.diff
/usr/src/**/*.exec
/usr/src/**/*.jar
/usr/src/**/*.ln
/usr/src/**/*.noexeglobs
/usr/src/**/*.o
/usr/src/**/*.tmp
/usr/src/**/*.tmp.diff
/usr/src/**/*.tmp.new
/usr/src/**/dmod/
/usr/src/**/debug32/
/usr/src/**/debug64/
/usr/src/**/.gitignore*
/usr/src/**/kmod/
/usr/src/**/lint.out
/usr/src/**/.make.dependency.*
/usr/src/**/packages.*/
/usr/src/.build.tstamp
/usr/src/ELF-data.*
/usr/src/check-*.out
/usr/src/clobber-*.out
/usr/src/install-*.out
/usr/src/lint-*.out
/usr/src/lint-noise-*.out
/usr/src/lint-noise-*.ref
/usr/src/noise-*.out
/usr/src/noise-*.ref
/usr/src/tools/clobber-*.out
/usr/src/tools/install-*.out
/usr/src/tools/proto/

# Eclipse stuff
/.cproject
/.project
/.settings/
